<h1>New Story</h1>

<div class="stories">
	<%= render "form.html", Map.put(assigns, :action, Routes.story_path(@conn, :create)) %>
</div>

<p><%= link "Back", to: Routes.story_path(@conn, :index) %></p>
